@font-face {
    font-family: Lalezar;
    src: url("/src/Font/Lalezar-Regular.ttf");
    font-weight: normal;
}

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    background-color: #132C47;
}

/* Container to position profile cards */
.profile-container {
    font-family: Lalezar;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* تا مطمئن شوید که بالای بقیه عناصر قرار می‌گیرد */
    padding: 20px;
    border-radius: 8px;
}

.profile-card {
    position: relative;
    width: 300px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 0; /* اضافه کردن فاصله داخلی */
    display: flex; /* فعال کردن Flexbox */
    flex-direction: column; /* مرتب کردن محتوا به صورت ستونی */
    justify-content: space-between; /* فاصله بین محتوا و پایین */
    height: 400px; /* ارتفاع مشخص برای کادر */
}

/* Close button styling */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* اصلاح برای وسط‌چین کردن محتوا */
.profile-card header img {
    display: block;
    margin: 10px auto; /* Auto برای وسط‌چین کردن */
    width: 125px;
    border-radius: 50%;
}

.profile-card h1 {
    font-size: 24px;
    color: #A0DBE0;
    text-align: center; /* تراز کردن متن به مرکز */
    margin: 10px 0;
}

.profile-card h2 {
    font-size: 17px;
    color: #888;
    text-align: center; /* تراز کردن متن به مرکز */
    margin: 5px 0;
}

.profile-card .profile-bio p {
    font-size: 18px !important;
    color: #bbbbbb !important;
    text-align: center; /* تغییر به مرکز */
    margin: 10px 20px;
    direction: rtl;
}

.button-check {
    background-color: #6c7ae0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Lalezar;
    width: 70%; /* عرض کمتر برای دکمه */
    height: 50px;
    font-size: 20px;
    align-self: center; /* وسط چین کردن دکمه */
    margin-top: auto; /* ایجاد فضای خودکار از بالا */
    margin-bottom: 25px; /* فاصله از پایین */
}



.button-check:hover {
    background-color: #5a65c1;
}

.popup-message {
    position: absolute;
    left: 75%;
    transform: translateX(-50%);
    border-radius: 5px;
    font-size: 14px;
    top : 94%;
    width: 300px;
}

.popup-message.success {
    color: green;
}

.popup-message.error {
    color: red;
}
