@font-face {
    font-family: Lalezar;
    src: url("/src/Font/Lalezar-Regular.ttf");
    font-weight: normal;
}

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    background-color: #132C47;
}

/* Container to position profile cards */
.profile-container {
    font-family: Lalezar;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* تا مطمئن شوید که بالای بقیه عناصر قرار می‌گیرد */
    padding: 20px;
    border-radius: 8px;
}

/* Profile card styling */
.profile-card {
    position: relative;
    width: 300px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: unset;
}

/* Close button styling */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Profile card header styling */
.profile-card header img {
    width: 125px;
    border-radius: 50%;
    margin-left: 29%;
    margin-top: 5px;
}

.profile-card h1 {
    direction: ltr;
    font-size: 24px;
    color: #A0DBE0;
    text-shadow: none;
    align-content: center;
    margin-left: 39%;
    margin-top: 5px;
    justify-content: center;
    text-justify: distribute-all-lines;
}
.profile-card h2 {
    direction: rtl;
    font-size: 17px;
    color: #888;
    text-shadow: none;
    margin-right: 43%;
}
/* Profile bio paragraph styling */
.profile-card .profile-bio p {
    direction: rtl;
    font-size: 18px !important; /* اضافه کردن !important برای اولویت‌بندی بیشتر */
    color: #bbbbbb !important; /* اضافه کردن !important برای اولویت‌بندی بیشتر */
    text-align: justify;
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 10px;
}


/* Profile card button styling */
.button-check{
    margin-bottom: 27px;
    background-color: #6c7ae0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Lalezar;
    width: 50%;
    margin-left: 25%;
    height: 50px;
    font-size: 26px;
    top: -5px;
}

.button-check:hover {
    background-color: #5a65c1;
}

.popup-message {
    position: absolute;
    left: 75%;
    transform: translateX(-50%);
    border-radius: 5px;
    font-size: 14px;
    top : 93%;
    width: 300px;
}

.popup-message.success {
    color: green;
}

.popup-message.error {
    color: red;
}
