/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row-reverse;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #132C47;
}

.ribbon {
    position: absolute; /* check the sticky one */
    top: 10px; /* Adjust this to control the vertical position of the ribbon */
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    height: 60px;
    background-color: #FBAE54; /* Main ribbon color */
    color: white;
    text-align: center;
    line-height: 60px; /* Center text vertically */
    font-family: Lalezar;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    justify-content: center; /* Center the text horizontally */
    align-items: center; /* Center the text vertically */
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Ribbon 3D shadow */
    margin-bottom: 30px;
}

/* Ribbon triangle tails */
.ribbon:before,
.ribbon:after {
    content: "";
    position: absolute;
    bottom: -15px;
    border-width: 15px 10px;
    border-style: solid;
    border-color: #FBAE54 transparent transparent transparent; /* Ribbon triangle color */
    z-index: -1;
}

.ribbon:before {
    left: -20px; /* Triangle on the left */
}

.ribbon:after {
    right: -20px; /* Triangle on the right */
}

.addedGroups {

}

.addedGroups h1 {
    text-decoration: none;
    color: #132C47;
    background-color: #FBAE54;
    margin: 1%;
    border-radius: 5px;
    border: none;
    text-align: center;
}

.addedGroups h1:hover {
    color: #FBAE54;
    background-color: #132C47;
}

/* Scrollable box */
.addedGroups {
    font-family: Lalezar;
    display: flex;
    flex-direction: column;
    background-color: #E27663; /* Background color for the scroll box */
    padding: 15px;
    margin: 70px auto;
    width: 90%;
    height: 350px; /* Fixed height to allow scrolling */
    overflow-y: scroll; /* Enable vertical scrolling */
    border-radius: 15px;
    border: 2px solid #fba54b; /* Light border around the box */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Slight shadow effect */
}

/* Styling the scrollbar */
.addedGroups::-webkit-scrollbar {
    width: 20px; /* Scrollbar width */
}

.addedGroups::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #FBAE54; /* Track shadow */
    border-radius: 10px; /* Track rounded corners */
}

.addedGroups::-webkit-scrollbar-thumb {
    background: #FBAE54; /* Scrollbar handle color */
    border-radius: 10px; /* Rounded handle */
}

.addedGroups::-webkit-scrollbar-thumb:hover {
    background: #d28f45; /* Darker  on hover */
}


@media only screen and (max-width: 1070px){
    .container {
        flex-direction: column;
        margin: 10px;
        height: auto;
        width: 100%;
    }
    .addedGroups {
        width: 80%;
    }
}
