@font-face {
    font-family: Lalezar;
    src: url("/src/Font/Lalezar-Regular.ttf");
    font-weight: normal;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #132C47;
}


/* Footer reset */
footer {
    background-color: #132C47;
    color: white;
    padding: 25px 0;
    text-align: center;
    margin-top: 220px;
    box-shadow: 0 -5px 5px #FBAE54;
    direction: rtl;
}

.footer-content h3 {
    font-size: 1.8rem; /* title size */
    font-weight: 500;
    font-family: Lalezar;
    direction: rtl;
    text-shadow: #A0DBE0 1px 1px 0;
}

.footer-content p {
    margin: 10px 0 15px;
    font-size: 1rem;
    color: white; /* white text for description */
    direction: rtl;
}

/* Social icons styling */
.socials {
    list-style: none;
    padding: 0;
}

.socials li {
    display: inline-block;
    margin: 0 10px;
}

.socials li a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    transition: color 0.3s ease;
}

.socials li a:hover {
    color: #fba54b; /* Change color when hover */
}

/* Footer bottom */
.footer-bottom {
    direction: rtl;
    background-color: #1A3B5E; /* lighter background for bottom section */
    padding: 20px 0;
    font-size: 0.9rem;

}

.footer-bottom span {
    color: #fba54b;
    direction: rtl;
    position: relative;
}

.footer-bottom p {
    direction: rtl;
    margin: 0;
    color: #bbb; /* text for copyright info */
}
